<ion-content class="login-content">
  <div class="login-wrapper">
    <div class="brand-section">
      <div class="logo-circle">
       <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" style="width: 100%; height: 100%; flex-shrink: 0;">
          <g id="logo-f">
            <!-- Thanh ngang phía trên (Màu xanh ngọc sáng) -->
            <polygon points="130,35 390,35 450,145 190,145" fill="#47BAC1" />
            <!-- Thân dọc chính (Màu xanh dương) -->
            <polygon points="190,145 50,405 130,465 260,245" fill="#208BDE" />
            <!-- Phần bóng đổ tạo nếp gấp (Màu xanh ngọc đậm) -->
            <polygon points="260,245 220,355 195,355" fill="#3197A7" />
            <!-- Thanh ngang ở giữa (Màu xanh ngọc sáng) -->
            <polygon points="260,245 390,245 350,355 220,355" fill="#47BAC1" />
          </g>
        </svg>
      </div>
      <h1>Smart Attendance</h1>
      <p>Cổng chấm công di động nội bộ</p>
    </div>

    <div class="form-container">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="input-group">
          <ion-item lines="none" class="custom-input">
            <ion-icon name="mail-outline" slot="start"></ion-icon>
            <ion-input
              label="Email đăng nhập"
              labelPlacement="floating"
              type="email"
              formControlName="email"
            ></ion-input>
          </ion-item>
        </div>

        <div class="input-group">
          <ion-item lines="none" class="custom-input">
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
            <ion-input
              label="Mật khẩu"
              labelPlacement="floating"
              type="password"
              formControlName="password"
            ></ion-input>
          </ion-item>
        </div>

        <div class="auth-actions">
          <ion-button
            expand="block"
            type="submit"
            class="submit-btn"
            [disabled]="form.invalid || loading()"
          >
            @if (loading()) {
            <ion-spinner name="crescent"></ion-spinner>
            } @else { Vào ca làm việc
            <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
            }
          </ion-button>
        </div>
      </form>
    </div>

    <div class="footer-note">
      <p>Vui lòng liên hệ Quản lý hệ thống nếu quên mật khẩu.</p>
    </div>
  </div>
</ion-content>
