# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
out/
.next/
.nx/cache
.nx/workspace-data
.angular/
tmp/

# Env
.env
.env.local
.env.*.local
!.env.example

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Test
coverage/
.nyc_output/

# Prisma
prisma/*.db
prisma/*.db-journal

# Capacitor
ios/
android/
.capacitor/

# Misc
*.tgz
.cache/
